/* shared styles */
* {
  margin: 0;
}
body {
  font-family: "Lato", sans-serif;
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  background-color: #fd6e0a;
  width: 150px;
  height: 64px;
  border-radius: 5px;
  border-style: none;
}

/* navbar related styles */

header {
  /* width: 1920px; */
  /* width: 100%; */
  width: 100vw;
  background-color: #fff8f3;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 230px 0px 230px;
}
.nav-info > ul {
  display: flex;
  gap: 50px;
  align-items: center;
  list-style: none;
}
.nav-info ul a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
  font-weight: 400;
}
.nav-heading {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
.text-orange {
  color: #fd6e0a;
}
/* banner related styles */
.banner {
  display: flex;
  gap: 160px;
  /* width: 100vw; */
  margin: 50px 40px 0 230px;
}
.banner-greeting {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
  padding-top: 130px;
  padding-bottom: 20px;
}
.banner-title {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
  padding-bottom: 30px;
}
.banner-description {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  padding-right: 300px;
  padding-bottom: 40px;
}
#download-btn {
  width: 200px;
  margin-right: 30px;
}
#contact-btn {
  background: #fff8f3;
  color: #fd6e0a;
  border: 1px solid #fd6e0a;
}
/* Responsive media query */

/* For mobile devices */

@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 10px 0px 10px;
  }
  .nav-heading {
    padding-left: 22px;
  }
  .nav-info > ul {
    gap: 20px;
    padding: 5px 0 0 24px;
  }
}

/* for tab like devices */

@media screen and (min-width: 576px) and (max-width: 992px) {
  nav {
    padding: 20px 20px 0 20px;
  }
}
